@font-face {
    font-family: "Arial";
    src: url(static('core/fonts/Arial.TTF')); }

@font-face {
    font-family: "Meridien-Roman";
    src: url(static('core/fonts/RLT_21334.ttf')); }

@font-face {
    font-family: "Meridien-Bold";
    src: url(static('core/fonts/RLT_21335.ttf'));
    font-weight: bold; }  