/* colors */

$text-color: #00618F;
$variant-color: #666;
$background-color: #E4E3DD;

$headline-color: #00618F;
$headline-background-color: transparent;

$link-color: #48A9DA;
$link-color-visited: #48A9DA;
$link-color-hover: #48A9DA;
$link-color-focus: #48A9DA;

$navigation-color: #F8F6F5;
$navigation-background-color: #00618F;
$navigation-hover-color: #fff;
$navigation-hover-background-color: rgba(255, 255, 255, 0.1);
$navigation-dropdown-color: #333;
$navigation-dropdown-hover-color: #262626;
$navigation-dropdown-hover-background-color: #f5f5f5;

$footer-color: #f5f5f5;
$footer-link-color: #48A9DA;
$footer-background-color: #00618F;

$danger-color: #a94442;
$success-color: #5cb85c;
$modal-border-color: #e5e5e5;

/* transitions */

$image-transition: opacity 2s ease-in-out;

/* responsive thresholds */

$screen-xs-max: 768px;
$screen-sm-max: 992px;
$screen-md-max: 1200px;
