{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
        Mit dem Service RDMO@GU (für Research Data Management Organiser) können Forschende und Ihre Kooperationspartner an der Goethe-Universität das Forschungsdatenmanagement ihre Projekte strukturiert planen und durchführen. Es erlaubt das Erfassen aller relevanten Planungsinformationen in Datenmanagementplänen und die Verwaltung aller Datenmanagementaufgaben über den gesamten Datenlebenszyklus.
    </p>

    <p>
        Mehr Informationen über RDMO@GU erhalten Sie bei unserem <a href="mailto:forschungsdaten@ub.uni-frankfurt.de">RDMO-Support-Team</a> an der Universitätsbibliothek der Goethe-Universität.
    </p>
</div>
