{% load static %}
{% load core_tags %}
{% load i18n %}

<div class="text-center">
    <img class="rdmo-logo" src="{% static 'core/img/rdmo-logo.svg' %}" alt="{% trans 'RDMO Logo' %}" />

    <h1>Research data management organiser @ Goethe University</h1>

    <h4>Version {% version %}</h4>
</div>

<div class="text-justify">
    <p>
        With the RDMO@GU (Research Data Management Organiser) service, researchers and their cooperation partners at Goethe University can plan and implement the research data management of their projects in a structured manner. It enables the recording of all relevant planning information in data management plans and the administration of all data management tasks throughout the entire data life cycle.
    </p>

    <p>
        For more information about RDMO@GU, please contact our <a href="mailto:forschungsdaten@ub.uni-frankfurt.de">RDMO support team</a> at the Goethe University Library.
    </p>
</div>
