<div class="row">
    <div class="footer-col col-md-4">
        <h4>Über RDMO</h4>
        <p>
            Der Research Data Management Organiser unterstützt die systematische Planung, Organisation und Durchführung des Daten- und Softwaremanagements im Verlauf eines Forschungsprojekts.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Kontakt</h4>
        <p>
            Für Informationen über RDMO@GU kontaktieren Sie bei unserem <a href="mailto:forschungsdaten@ub.uni-frankfurt.de">RDMO-Support-Team</a> an der GU-Universitätsbibliothek.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Impressum und Datenschutz</h4>
        <p>
            <a href="https://www.uni-frankfurt.de/impressum?">Impressum</a>  
        </p>
        <p>     
            <a href="https://www.ub.uni-frankfurt.de/benutzung/datenschutz.html">Datenschutz</a>
        </p>
    </div>
</div>
