<div class="row">
    <div class="footer-col col-md-4">
        <h4><b></b>Über RDMO@GU</b></h4>
        <p>
            Der Research Data Management Organiser @ Goethe University unterstützt die systematische Planung, Organisation und Durchführung des Daten- und Softwaremanagements im Verlauf eines Forschungsprojekts.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4><b>Kontakt</b></h4>
        <p>
            Für Informationen über RDMO@GU kontaktieren Sie bei unserem <a href="mailto:rdmo@ub.uni-frankfurt.de">Support-Team</a> an der Universitätsbibliothek Frankfurt.
        </p>
        <p>
            Generisches Schulungsmaterial wie Anleitungen, Dokumentationen, Tutorials und mehr zu RDMO findet sich bei der <a href="https://rdmorganiser.github.io/Doku_User/">RDMO-Community</a>.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4><b>Rechtliche Informationen</b></h4>
        <p>
            <a href="https://www.uni-frankfurt.de/impressum?">Impressum</a>  
        </p>
        <p>     
            <a href="https://www.ub.uni-frankfurt.de/benutzung/datenschutz.html">Datenschutz</a>
        </p>
    </div>
</div>
