<div class="row">
    <div class="footer-col col-md-4">
        <h4>About RDMO</h4>
        <p>
            The Research Data Management Organiser @ Goethe University supports the systematic planning, organisation and implementation of data and software management in the course of a research project.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Contact</h4>
        <p>
            For information about RDMO@GU, please contact our <a href="mailto:forschungsdaten@ub.uni-frankfurt.de">support team</a> at Frankfurt University Library.
        </p>
        <p>
            Generic training material such as instructions, documentation, tutorials and more on RDMO can be found at the <a href="https://rdmorganiser.github.io/Doku_User/">RDMO community</a>.
        </p>
    </div>
    <div class="footer-col col-md-4">
        <h4>Imprint and data protection</h4>
        <p>
            <a href="https://www.uni-frankfurt.de/impressum?">Impressum</a>  
        </p>
        <p>     
            <a href="https://www.ub.uni-frankfurt.de/benutzung/datenschutz.html">Data Protection</a>
        </p>
    </div>
</div>
