<h2>Willkommen bei RDMO@GU</h2>

<p>
    Der Sevice RDMO@GU ist eine Webanwendung, welche die strukturierte Planung, Umsetzung und Verwaltung der Daten in einem wissenschaftlichen Projekt unterstützt. Zusätzlich sollen die gesammelten Informationen in textueller Form für Anforderungen von Förderern oder für Berichte ausgebbar sein.
</p>

<p>
    Mehr Informationen über RDMO@GU erhalten Sie bei unserem <a href="mailto:rdmo@ub.uni-frankfurt.de">RDMO@GU-Support-Team</a> an der Universitätsbibliothek der Goethe-Universität Frankfurt.
</p>
