<h2>Welcome to RDMO@GU</h2>

<p>
    The RDMO@GU service is a web application that supports the structured planning, implementation and management of data in a scientific project. In addition, the collected information should be available in text form for the requirements of funding organisations or for reports.
</p>

<p>
    For more information about RDMO@GU, please contact our <a href="mailto:forschungsdaten@ub.uni-frankfurt.de">support team</a> at the University Library of Goethe University Frankfurt.
</p>
